/* Google Fonts API */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* Variables */
:root {
    --exsmall: 8px;
    --small: 12px;
    --medium: 15px;
    --large: 18px;
    --exlarge: 24px;
    --huge: 36px;
    --bg: #fefefe;
    --hover-bg: #efefef;
    --dark-hover-bg: #252525;
    --fg: #111;
    --primary: #845eed;
    --primary-fade: #6c53b3;
    --secondary: #637cec;
    --tertiary: #ed5e6a;
    --light: 300;
    --regular: 400;
    --bold: 500;
}

::-webkit-scrollbar{
    display: none;
}

/* Body */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--fg);
    padding: 0;
    margin: 0;
    display: flex;
}

.hr {
    background-color: var(--dark-hover-bg);
    width: 80%;
    height: 1px;
    border: none;
    border-radius: var(--large);
}

.dark-theme .hr {
    background-color: var(--hover-bg);
}

.dark-theme body {
    background-color: var(--fg);
    color: var(--bg);
}

.dark-theme body {
    background-color: var(--fg);
    color: var(--bg);
}

/*Navigation Bar*/
navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg);
    color: var(--fg);
    padding: var(--medium);
    transition: 0.3s ease;
    width: 20%;
}

.dark-theme navbar {
    background-color: var(--fg);
    color: var(--bg);
}

navbar logo {
    font-weight: var(--bold);
    font-size: var(--huge);
    background: -webkit-linear-gradient(
        45deg,
        var(--secondary),
        var(--primary),
        var(--tertiary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

theme-switch {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    align-items: center;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.toggle-theme input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: var(--bg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--tertiary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

navbar ul {
    width: 100%;
}

.list-cat,
.tag {
    list-style: none;
    padding: var(--exsmall);
}

.list-cat a,
.tag a {
    cursor: pointer;
    padding: var(--exsmall);
    border: none;
    border-radius: 5px;
    transition: 200ms ease-out;
    color: var(--fg);
    text-decoration: none;
}

.dark-theme .list-cat a,
.dark-theme .tag a {
    color: var(--bg);
}

.list-cat a:hover,
a.active,
.tag a {
    background-color: var(--hover-bg);
}

.dark-theme .list-cat a:hover,
.dark-theme a.active,
.dark-theme .tag a {
    background-color: var(--dark-hover-bg);
}

.hamburger {
    display: none;
}

main {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg);
    color: var(--fg);
    width: 80%;
    transition: 0.3s ease;
    height: fit-content;
    margin: 0;
}

.dark-theme main {
    background-color: var(--fg);
    color: var(--bg);
}

search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.search-input {
    outline: none;
    border: 2px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: var(--medium);
    padding: 10px;
    transition: 0.3s ease;
    background-color: transparent;
    color: var(--fg);
}

.dark-theme .search-input {
    color: var(--bg);
}

.search-input:focus {
    border-color: var(--primary);
}

.search-btn {
    border: none;
    background-color: var(--primary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: var(--medium);
    padding: 12px;
    color: var(--bg);
    transition: 0.3s ease;
    cursor: pointer;
}

.search-btn:active {
    background-color: var(--primary-fade);
}

.category-tags {
    display: flex;
}

.active-tag {
    background: var(--fg);
    color: var(--bg);
}

.dark-theme .active-tag {
    background: var(--bg);
    color: var(--fg);
}

.tag a.active-tag {
    background-color: var(--fg);
    color: var(--bg);
}

.dark-theme .tag a.active-tag {
    background-color: var(--bg);
    color: var(--fg);
}

.product-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-card{
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.card{
    background-color: var(--hover-bg);
    overflow: hidden;
    width: 250px;
    height: fit-content;
    border: none;
    border-radius: 12px;
    transition: .3s ease;
}

.dark-theme .card{
    background-color: var(--dark-hover-bg);
}

.card-image{
    width: 230px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.card-text{
    margin: 10px;
}

/* STYLE FOR MOBILES AND TABS
@media (max-width: 1024px) {
    .hamburger {
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        cursor: none;
        position: absolute;
        top: var(--huge);
        right: var(--huge);
    }

    hamburger-line {
        width: var(--exlarge);
        height: 2px;
        background: var(--fg);
        transition: all 0.3s ease-in-out;
        border: none;
        border-radius: var(--exlarge);
    }

    .openNavBar .hamburger hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .openNavBar .hamburger hamburger-line:nth-child(1) {
        transform: rotate(-45deg) translate(-5.7px, 5.7px);
    }

    .openNavBar .hamburger hamburger-line:nth-child(3) {
        transform: rotate(45deg) translate(-5.7px, -5.7px);
    }

    navbar logo{
        position: absolute;
        top: var(--large);
        left: var(--large);
    }

    navbar {
        height: 100px;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
    }

    navbar-container {
        display: none;
    }

    .openNavBar navbar-container {
        display: block;
        margin-top: 100px;
        background: transparent;
        transition: 0.3s;
    }

    .openNavBar navbar {
        width: 100%;
        display: contents;
        height: 100vh;
        background-color: var(--bg);
        color: var(--fg);
        padding: var(--medium);
    }
} */
